# Data
data
plot
!map_demo/data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl
!network-design-bss-package/*.whl

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragerc

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.env
.env.*
*.env

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
*.out
*.err